@font-face {
    src: url(Quicksand/Quicksand-Light.ttf);
    font-family: Quicksand;
}
h1{
    text-align: center;
    color: white;
}
.content{
    font-size: 30Px;
    font-family: Quicksand;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
image{
    width: 1px;
    height: 10px;
}

.webs{
    text-align: right;
    font-size: 36px;
    float: top;
    
}
body {
	margin: 0;
	
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}



nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

}
p1{font-family: Quicksand;
  color: white;
}
body{
  background-image: url(mat.png)

}
a{
  color: whitesmoke;
  text-decoration: none;
}
a:hover{
  color: gray;
}

  


