@font-face {
    src: url(josefin-sans/josefinsans-light.ttf);
    font-family: jose;
}
img{
    width: 50px;
    height: 40px;
}
p1{
    font-family: jose;
}
p2{
    font_family: jose;
}
p3{
    font-family: jose;
}