@font-face {
  src: url(Quicksand/Quicksand-Light.ttf);
  font-family: Quicksand;
}
h1{
  color: darkblue;
  text-align: center;
  font-size: 30px;
}
h2{
  color: green;
  font-style: italic;
  font-size: 50px;
}
img{
  width: 800px;
  height: 500px;
}
.link{
  font-size: 20px;
}
a{
  color: black;
  font-family: Quicksand;
  text-decoration: none;
  font-size: 30px;
}
a:hover{
  color: gray;
}