@font-face {
    src: url(Quicksand/Quicksand-Light.ttf);
    font-family: Quicksand;
}
h1{
    text-align: center;
    font-size: 60px;
    color: rgb(2, 17, 11);
    font-family: Quicksand;
    background-image: url(tt.jpg) 
}
.main{
    background-image:url(images/kk.jpg)
}
p1{
    font-family: Quicksand;
    font-size: 20px;
}
p2{
    font-family: Quicksand;
    font-size: 20px;
}
p3{
    font-size: 20px;
    font-family: Quicksand;
}


